<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The creators of this application are Emelie Dümpelmann and Rabea Schulze.
</p>

<p><strong>Emelie Dümpelmann</strong></p> <p><strong>Rabea Schulze</strong></p>
<div class="leftcontainer">
  <div class="centerwrapper">
      <div class="image">
        <%=image_tag("Emelie.jpg", height: 250, alt: "Emelie", src:"app/assets/images/Emelie.jpg") %>
        <%=image_tag("Rabea.jpg", height: 250, alt: "Rabea", src:"app/assets/images/Rabea.jpg") %>
      </div>
  </div>

  Emelie is 25 years old an student at the Leibniz University of Hannover.
  She has chosen the major "Operations Management and Research"
</div>
