<% provide(:title, 'Matching App') %>
    <% if logged_in? %>

    <h1>The Matching App </h1>
    <br>

    <div class="linkcontainer">
      <div class="centerwrapper">
          <div class="image">
            <%= link_to image_tag("student.png", height: '100', alt: 'Student logo'), students_path, "data-turbolinks": "false"  %> <br>
            <%= link_to 'Go to student administration', students_path, "data-turbolinks": "false" %>
          </div> <br>

      <div class="image">
        <%= link_to image_tag("university.png", height: '100', alt: 'Institut logo'), institutes_path, "data-turbolinks": "false"  %> <br>
        <%= link_to 'Go to institute administration', institutes_path, "data-turbolinks": "false" %>
      </div><br>

      <div class="image">
        <%= link_to image_tag("Gams.png", height: '100', alt: 'GAMS logo'), '#gams_path', "data-turbolinks": "false"  %> <br>
        <%= link_to 'Go to GAMS administration', '#gams_path', "data-turbolinks": "false" %>
      </div>
    </div>
  </div>

  <br>

  <p>

    Now we can optimize the problem!
    <br>

    <%= button_to "Delete Matching", :controller => 'translinks', :action =>  'delete_matching' %>
    <%= button_to "Show Matching", :controller => 'translinks', :action =>  'read_matching'  %>
    <%= button_to "Show Objective Function Value", :controller => 'translinks', :action =>  'read_and_show_ofv'  %>

  </p>
  <br> <br>
    <% end %>
