<%= form_with(model: institute, local: true) do |form| %>
  <% if institute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(institute.errors.count, "error") %> prohibited this institute from being saved:</h2>

      <ul>
      <% institute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :institute_name %>
  </div>

  <div class="field">
    <%= form.label :number_of_professors %>
    <%= form.number_field :number_of_professors, id: :institute_number_of_professors %>
  </div>

  <div class="field">
    <%= form.label :number_of_employees %>
    <%= form.number_field :number_of_employees, id: :institute_number_of_employees %>
  </div>

  <div class="field">
    <%= form.label :excess_capacity %>
    <%= form.text_field :excess_capacity, id: :institute_excess_capacity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
