<p id="notice"><%= notice %></p>

<h1>Institutes</h1>

<table id="institutes" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of professors</th>
      <th>Number of employees</th>
      <th>Excess capacity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @institutes.each do |institute| %>
      <tr>
        <td><%= institute.name %></td>
        <td><%= institute.number_of_professors %></td>
        <td><%= institute.number_of_employees %></td>
        <td><%= institute.excess_capacity %></td>
        <td><%= link_to 'Show', institute %></td>
        <td><%= link_to 'Edit', edit_institute_path(institute) %></td>
        <td><%= link_to 'Destroy', institute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Institute', new_institute_path %>
<br>
<%= link_to 'Back to Matching', matching_start_path %>
