<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table id="students" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Studentnumber</th>
      <th>Institute</th>
      <th>Preference Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.studentnumber %></td>
        <td><%= student.institute %></td>
        <td><%= student.preference_value %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
<br>
<%= link_to 'Back to Matching', matching_start_path %>
