<%= form_with(model: translink, local: true) do |form| %>
  <% if translink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(translink.errors.count, "error") %> prohibited this translink from being saved:</h2>

      <ul>
      <% translink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id, id: :translink_student_id %>
  </div>

  <div class="field">
    <%= form.label :institute_id %>
    <%= form.text_field :institute_id, id: :translink_institute_id %>
  </div>

  <div class="field">
    <%= form.label :preference_value %>
    <%= form.number_field :preference_value, id: :translink_preference_value %>
  </div>

  <div class="field">
    <%= form.label :matching %>
    <%= form.text_field :matching, id: :translink_matching %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
