<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @translink.student_id %>
</p>

<p>
  <strong>Institute:</strong>
  <%= @translink.institute_id %>
</p>

<p>
  <strong>Preference value:</strong>
  <%= @translink.preference_value %>
</p>

<p>
  <strong>Matching:</strong>
  <%= @translink.matching %>
</p>

<%= link_to 'Edit', edit_translink_path(@translink) %> |
<%= link_to 'Back', translinks_path %>
