div.linkcontainer{
    text-align: center;
    width: 100%;
  }
div.leftcontainer {
    text-align: left;
    width: 100%
  }
div.rightcontainer{
    text-align: right;
    width: 100%
  }

div.centerwrapper{
  width: 80%;
  margin: auto;
}

div.button{
  width:380px;
  margin: auto;
  color: #d4dbe4;
  &:hover {
    color:white;
    text-decoration: none;
  }
  .btn-primary {
    background: #d4dbe4;
    color: black;
    border-color: #d4dbe4;
  }
}
